<!DOCTYPE hibernate-configuration PUBLIC 
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
    <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
     <property name="connection.url">jdbc:oracle:thin:@srv-oracle03:1521:dame</property>   
     <property name="connection.username">developer</property>
     <property name="connection.password">asu</property>
     <property name="connection.pool_size">10</property>
     <property name="dialect">org.hibernate.dialect.OracleDialect</property>
     <property name="show_sql">true</property>
     <property name="hbm2ddl.auto">update</property>
     <property name="hibernate.connection.autocommit">true</property>
     <property name="current_session_context_class">thread</property>

      <mapping class="pylypiv.errorGZ.domain.Person" />
     <mapping class="pylypiv.errorGZ.domain.PersonAdd" />
     <mapping class="loadparse.ZpRecord" />
     <!-- This class in jar file -->
     <mapping class="erznskutil.logic.ErrorGoznak" />
   </session-factory>
</hibernate-configuration>